Assignment 1/server/src/main/resources/patient_recommendation.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://health.ds/soa/soa-endpoints" elementFormDefault="qualified">

    <xs:element name="getPatientRecommendationRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPatientRecommendationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="recommendation" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>